.venv/
__pycache__/
*.pyc
.env
.vscode/
.idea/
*.db
.DS_Store

# Ignored by user request
/inventario_actual.xls
# keep folder but ignore its contents; allow .gitkeep
/inventario_actual/*
!/inventario_actual/.gitkeep

# keep folder but ignore its contents; allow .gitkeep
/ficheros_a_convertir/*
!/ficheros_a_convertir/.gitkeep

# keep folder but ignore its contents; allow .gitkeep
/ficheros_a_convertir_bulk/*
!/ficheros_a_convertir_bulk/.gitkeep

# keep folder but ignore its contents; allow .gitkeep
/consumo_teorico/*
!/consumo_teorico/.gitkeep
