.venv/
__pycache__/
*.pyc
.env
.vscode/
.idea/
*.db
.DS_Store

# Ignored by user request
/inventario_actual.xls
/inventario_actual/
/ficheros_a_convertir/
/consumo_teorico/
/ficheros_a_convertir_bulk/
